@charset "utf-8";
/* CSS Document */

ul li a{
	color: white;
}

ul li a:hover{
	color: white;
	background: #2395FF;
}

.light-footer{
	width: 100%;
	height: auto;
	text-align: center;
	
}

.light-footer p{
	font-size: 11px;
}